@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --PureColor : #000000;
  --SlightlyShade : #0F0F0F  ;
  --MediumColor: #2C3E50; 
  --mysterySpace: #34495E;
  --CoolColor:  #5C97BF;
  --Gray: #AAB8C2 ;
}


* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box; 
}
body {
  background-color: var(--MediumColor);
  color: var(--CoolColor);
}
